@import 'colors';

// Tablet
@media screen and (max-width: 960px) {
	// Navigation
	.nav-item {
		display: none;
	}

	#menu {
		display: block !important;
	}

	.navScroll {
		border-radius: 50%;
	}

	.prompt-banner {
		background-image: linear-gradient(#f0a4007c, #f0a4007c),
			url('../imgs/projects/gallery2-min.jpg') !important;
	}
}

// Mobile
@media screen and (max-width: 650px) {
	.header-bg {
		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
			url('../imgs/banner-mobile-min.jpg') !important;

		background-size: cover !important;
		background-position: center !important;
	}

	.project-img {
		img {
			width: 300px !important;
			height: 300px !important;

			object-fit: cover !important;
		}
	}

	.sub-service {
		margin-bottom: 20px !important;
	}

	.service-cards {
		margin-bottom: 20px !important;
	}
}

// Desktop
@media screen and (max-width: 950px) {
	.contact-info {
		h3 {
			font-size: 2rem !important;
		}

		.phone {
			width: 30px !important;
			height: auto;
		}

		h2 {
			font-size: 2rem !important;
		}
	}

	.sub_services-container {
		width: 100% !important;
		justify-content: center !important;
	}
}

// Other
@media screen and (max-width: 1470px) and (min-width: 920px) {
	.arrow {
		fill: $yellow-orange !important;
	}
}
