@import 'global';
@import 'media-queries';
@import 'colors';
@import 'components';
@import 'font-properties';

html {
	position: relative;
	max-width: 1920px;
	margin: auto;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

// Header
.header-container {
	width: 100%;

	.header-bg {
		position: relative;
		width: 100%;
		height: 768px;
		z-index: 0;

		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
			url('../imgs/banner-min.jpg');
		background-size: cover;
		background-attachment: fixed;

		// Nav
		nav {
			display: flex;
			width: 71%;
			margin: auto;
			padding-top: 20px;
			justify-content: space-between;
			align-items: center;

			ul {
				display: flex;
				li {
					list-style: none;
					padding: 0px 50px;

					a {
						color: $off-white;
						text-transform: uppercase;
						text-decoration: none;

						&:visited {
							color: $off-white;
						}
					}
				}
			}
			img {
				cursor: pointer;
			}

			#menu {
				fill: $off-white;
				width: 40px;
				height: 40px;
				cursor: pointer;

				display: none;
			}
		} //End of Nav

		.header-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			text-align: center;

			h1 {
				color: $off-white;
				padding: 15px;
				font-size: $Heading-Large;
			}

			button {
				background-color: transparent;
				border: 2px solid $brown;
				padding: 10px 20px;

				color: $off-white;
				cursor: pointer;
				text-transform: uppercase;
			}
		}
	} //End of Header bg

	//Service Cards Section
	.service_cards-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 100px;
		width: 100%;

		margin-top: -150px;
		margin-bottom: 90px;
	}
} //End of header container

// Other Services
.other_services-container {
	width: 100%;
	margin: 90px auto;
	h1 {
		font-size: $Heading-Big;
		text-align: center;

		width: 71%;
		padding: 15px 0px;
		margin: auto;
		margin-bottom: 50px;

		background-color: $yellow-orange;
		color: $off-white;
	}

	// Sub-Services
	.sub_services-container {
		display: flex;
		flex-wrap: wrap;

		width: 71%;
		max-width: 100%;
		margin: auto;

		justify-content: space-between;
		gap: 20px 10px;
	}
}

// Testimonials
.testimonial-container {
	position: relative;
	width: 100%;
	height: 965px;
	margin-bottom: 90px;
	background-color: $yellow-orange;

	.testimonial_cards-container {
		position: absolute;
		justify-content: space-between;
		width: 100%;
		max-width: 1320px;
		// padding: 150px;
		height: 70%;
		background-color: $black;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		overflow-x: hidden;
		// SVG Background
		#t-bg {
			position: absolute;
			z-index: 0;
			display: inline-block;
			height: 100%;
			right: 0;
			top: 0;
		}
	}
}
.t-nav {
	position: absolute;
	width: 90%;
	margin: auto;
	z-index: 5;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;

	.slyde__arrow {
		background-color: transparent;
		border: none;
		cursor: pointer;
	}

	.arrow {
		fill: $black;
		width: 30px;
		height: 30px;
	}
}
// Contact Us
#contact-us {
	position: relative;
	width: 100%;
	height: 965px;
	background-color: $black;

	color: $off-white;

	.contact-info {
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		text-align: center;

		h3 {
			font-size: 3rem;
		}

		.phone {
			fill: $off-white;
			width: 50px;
			height: auto;
		}

		h2 {
			font-size: 3rem;
			padding-bottom: 50px;
		}
	}
}
// Banner Prompt
.prompt-banner {
	position: relative;
	width: 100%;
	padding: 200px 0px;
	text-align: center;

	background-image: linear-gradient(
			rgba(240, 164, 0, 0.77),
			rgba(240, 164, 0, 0.77)
		),
		url('../imgs/wood-bg-min.jpg');
	background-size: cover;
	background-attachment: fixed;

	.banner-imgs {
		position: relative;
		width: 100%;
		padding-top: 100px;

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 200px;

		h2 {
			font-size: $Heading-Large;
		}
		img {
			width: 450px;
			height: 600px;
			object-fit: cover;

			border: 1px solid $black;
		}
	}
}
// Slyder Styles
.inactive {
	opacity: 0%;
}

.active {
	opacity: 100%;
	animation: fadeIn 1.5s;
}

@keyframes fadeIn {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}

@keyframes fadeOut {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0%;
	}
}
