@import 'global';
@import 'colors';
@import 'mixins';
@import 'components';
@import 'font-properties';

html {
	position: relative;
	max-width: 1920px;
	margin: auto;
}

// Header
.header-container {
	width: 100%;

	.header-bg {
		position: relative;
		width: 100%;
		height: 768px;
		z-index: 0;

		background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
			url('../imgs/banner-min.jpg');
		background-size: cover;
		background-attachment: fixed;

		// Nav
		nav {
			display: flex;
			width: 71%;
			margin: auto;
			padding-top: 20px;
			justify-content: space-between;
			align-items: center;

			ul {
				display: flex;
				li {
					list-style: none;
					padding: 0px 50px;

					a {
						color: $off-white;
						text-transform: uppercase;
						text-decoration: none;

						&:visited {
							color: $off-white;
						}
					}
				}
			}
			img {
				cursor: pointer;
			}
		} //End of Nav

		.header-content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			text-align: center;

			h1 {
				color: $off-white;
				padding: 15px;
				font-size: $Heading-Large;
			}
		}
	} //End of Header bg

	//Service Cards Section
	.service_cards-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 100px;
		width: 100%;

		margin-top: -150px;
		margin-bottom: 90px;
	}
} //End of header container

// Other Services
.other_services-container {
	width: 100%;
	margin: 90px auto;
	h1 {
		font-size: $Heading-Big;
		text-align: center;

		width: 71%;
		padding: 15px 0px;
		margin: auto;
		margin-bottom: 50px;

		background-color: $yellow-orange;
		color: $off-white;
	}

	// Sub-Services
	.sub_services-container {
		display: flex;
		flex-wrap: wrap;

		width: 71%;
		max-width: 100%;
		margin: auto;

		justify-content: space-between;
		gap: 20px 10px;
	}
}

// Testimonials
.testimonial-container {
	position: relative;
	width: 100%;
	height: 965px;
	background-color: $yellow-orange;

	.testimonial_cards-container {
		position: absolute;
		justify-content: space-between;
		min-width: 71%;
		height: 580px;
		background-color: $black;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		overflow-x: hidden;
		// SVG Background
		#t-bg {
			position: absolute;
			z-index: 0;
			display: inline-block;
			height: 100%;
			right: 0;
			top: 0;
		}

		.cards-container {
			.testimonial-cards {
				position: absolute;
				width: 70%;
				height: 350px;
				text-align: center;
				background-color: white;
				border: 1px solid $black;

				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				.client-quote {
					padding-top: 100px;
					width: 90%;
					margin: auto;

					text-transform: uppercase;
				}

				span {
					opacity: 50%;
				}
			}
		}

		.t-nav {
			position: relative;
			display: flex;
			justify-content: space-between;
			padding-top: calc(580px / 2);
			padding-left: 50px;
			padding-right: 50px;

			.slyde__arrow {
				background-color: transparent;
				border: none;
				cursor: pointer;
			}

			.arrow {
				fill: $yellow-orange;
				width: 30px;
				height: 30px;
			}
		}
	}
}

// Slyder Styles
.inactive {
	opacity: 0%;
}

.active {
	opacity: 100%;
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0%;
	}
	to {
		opacity: 100%;
	}
}
